.NovelGPT-title {
    position: absolute;
    background-color: #F0F0F0;
    width: 100%;
    left: 0;
    top: 79px;
    padding-left: 7.8%;
    padding-right: 7.8%;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: -2;
}

.in-dev {
    position: relative;
    z-index: -2;
    margin-top: 160px;
}

@media (max-width: 1170px) {
    .NovelGPT-title {
        top: 180px;
    }

    .in-dev {
        margin-top: 240px;
    }
}